* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

html::-webkit-scrollbar {
    display: none;
  }

:root {
    --yellow: #F1DE67;
    --gray: #707070;
}

img {
    display: block;
}



header {
    width: 100vw;
    background-color: var(--yellow);
    height: 200px;
    border: 6px solid var(--gray);
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    max-width: 1100px;
    margin: auto;
}


#gallery {
    display: flex;
    justify-content: space-between;
    margin: 3rem 1.5rem;
}

#gallery img {
    width: 25%;
}